name: 基础邮件测试
on: workflow_dispatch

jobs:
  send-test-email:
    runs-on: ubuntu-latest
    
    steps:
    - name: Send email using sendgrid action
      uses: peaceiris/actions-sendgrid@v1.0.0
      with:
        to: ${{ secrets.QQ_EMAIL }}
        from: ${{ secrets.QQ_EMAIL }}
        apikey: ${{ secrets.QQ_EMAIL_AUTH_CODE }}  # 这里需要SendGrid API Key
        subject: 'SendGrid测试邮件'
        body: '这是一封通过SendGrid发送的测试邮件'